<div class="container-fluid">
  <div class="row nav-menu">
    <div class="col-md-4 nav-item animated fadeInDown">
      <a href="#">Team</a>
    </div>
    <div class="col-md-4 nav-item animated fadeInDown">
      <a href="#">Work</a>
    </div>
    <div class="col-md-4 nav-item animated fadeInDown">
      <a href="#">Contact</a>
    </div>
  </div>
</div>
<div class="container-fluid main-container">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid footer">
  <div class="row top-footer-row">
    <div class="col-sm-6 footer-service-links">
      <h4><a href="#">Contact Us</a></h4>
      <h4><a href="#">Terms of Service</a></h4>
      <h4><a href="#">Privacy</a></h4>
    </div>
    <div class="col-sm-6 footer-form">
      <h3 class="no-top-margin">SIGN UP FOR UPDATES</h3>
      <input type="email" name="email" class="footer-input" placeholder="Email">
    </div>
  </div>
  <div class="row bottom-footer-row">
    <div class="col-sm-3 footer-social-links">
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-facebook-f fa-2x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-pinterest fa-2x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
      </div>
    </div>
    <div class="col-sm-6">
      <p>Copyright © 2017, <a href="#">ThisCompany</a> <a href="#">Powered by Angular</a></p>
    </div>
    <div class="col-sm-3 footer-payment-links">
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-cc-visa fa-2x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-cc-mastercard fa-2x"></i></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><i class="fa fa-cc-amex fa-2x"></i></a>
      </div>
    </div>
  </div>
</div>
