<div class="row my-hero home-hero-top">
  <div class="col-sm-12">
    <p class="header-light animated fadeInUp" id="welcome-header">You deserve a break</p>
    <button type="button" class="my-button animated fadeIn blue-ghost-button">Plan your escape</button>
  </div>
</div>
<div class="row my-hero home-hero-top">
  <div class="col-sm-12">
    <p class="header-light animated fadeInUp" id="welcome-header">You deserve a break</p>
    <button type="button" class="my-button animated fadeIn blue-ghost-button">Plan your escape</button>
  </div>
</div>

<div class="row my-hero home-hero-top">
  <div class="col-sm-12">
    <p class="header-light animated fadeInUp" id="welcome-header">You deserve a break</p>
    <button type="button" class="my-button animated fadeIn blue-ghost-button">Plan your escape</button>
  </div>
</div>
