/* You can add global styles to this file, and also import other style files */

$blue : #4D7188;
$white : #F2EDE4;
$black : #22231C;
$green : #417E74;
$light-brown : #CFA473;

$pop-orange : #F17E76;
$roboto : 'Roboto', sans-serif;

html {
  font-family: $roboto;
  font-weight: 100;
  color: $white;
}

.my-button {
  background-color: transparent;
  color: $white;
  font-size: 0.6em;
}

.my-hero {
  .header-light {
    font-size: 200%;
    color: $blue;
  }
  height: 100vh;
  background-color: $white;
  font-size: 3em;
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 20vh;
}

.home-hero-top {
  background: url('assets/images/beach-getaway.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-ghost-button {
  color: $blue;
  font-weight: 200;
  border: 3px $blue solid;
  border-radius: 500px;
  padding: 10px 35px 10px;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  &:hover {
    background-color: $blue;
    color: $white;
  }
  -webkit-transition-duration: .5s; /* Safari */
  transition-duration: .5s;
}

.nav-menu {
  width: 100%;
  position: fixed;
  z-index: 101;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: $light-brown;
  height: 10vh;
  // border-bottom: 2px $white solid;
  a {
    -webkit-animation-duration: 2s;
    color: $white;
    font-size: 150%;
    &:hover {
      text-decoration: none;
      font-weight: 200;
      font-size: 165%;
    }
  }
}

.flex-row {
  display: flex;
}

.footer {
  background-color: $black;
  height: 275px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  color: $white;
  text-align: center;
  padding: 3% 10% 3% 10%;
  .footer-service-links, .footer-social-links {
    text-align: left;
    a {
      color: $white;
    }
  }
  .footer-payment-links {
    text-align: right;
    a {
      color: $white;
    }
  }
}

.main-container {
  position: relative;
  z-index: 100;
  margin-bottom: 275px;
  overflow: hidden;
}

.footer-form {
  text-align: left;
  .footer-input {
    color: $white;
    padding: 1%;
    background-color: inherit;
    font-size: 1.5em;
    width: 100%;
    border: none;
    border: 1px $white solid;
  }
}

.no-top-margin {
  margin-top: 0px;
}

.top-footer-row {
  height: 50%;
}
.bottom-footer-row {
  padding-top: 7%;
  padding-bottom: 7%;
}
